<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bizcore{% endblock %}</title>
    {# base.html.twig #}
<meta name="description" content="{% block meta_description %}Bizcore{% endblock %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap">
    <style>
        .navbar {
            display: none !important;
        }

        .gestion-front-nav {
            display: flex !important;
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>

    {{ include('components/_front_gestion_nav.html.twig') }}
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
